{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {ranch, "1.*.*", {git, "https://github.com/extend/ranch.git", {tag, "1.1.0"}}},
  {mdns_server, ".*", {git, "https://github.com/Licenser/erlang-mdns-server.git", {tag, "0.1.0"}}}
 ]}.
